{% load static %}
<form  method="POST" action="{%url 'criarVisitante'%}" >
    {% csrf_token %}
    <div class="modal-header">
                <h4 class="modal-title">Cadastrar</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal('/visitante/')" aria-hidden="true">&times;</button>
            </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-body">

            <input type="hidden" name="perfil" class="form-control"  value="2"/>

        <div class="form-group">
            <label  class="control-label">Nome</label>
            <input name="nome" class="form-control" id="nome" placeholder="Nome" onblur="validar_nome()" required/>
            <span for="nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  class="control-label">CPF</label>
            <input name="cpf" id="cpf" class="form-control" placeholder="CPF (somente números)" required onblur="validar_nome()" maxlength="11" minlength="11" pattern="[0-9]{11}"/>
            <span for="cpf" class="text-danger"></span>
        </div>

         <div class="form-group">
            <label  class="control-label">Solicitante (Matrícula)</label>
            <input name="solicitante" id="solicitante" type="text" class="form-control" placeholder="Solicitante" onblur="buscaFuncionarioVisitante('solicitante')" required/>
            <span for="solicitante" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label  class="control-label">Nome do Solicitante</label>
            <input id="nomeautorizador" class="form-control" placeholder="Nome" required readonly/>
            <span for="nomeautorizador" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label  class="control-label">Tempo de Acesso (em dias)</label>
            <input name="tempo_acesso" type="number" class="form-control" placeholder="Tempo de Acesso (em dias)" value="1" required/>
            <span for="tempo_acesso" class="text-danger"></span>
        </div>

        <div class="form-group d-flex">

        <h4 class="control-label bold">Dispositivos</h4>
        
        <a href="#" style="padding-left: 10px;" id="adicionar_dispositivo">
            <svg class="mt-2" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            </a> 
        
    </div>

    <div id="form_editar">
        <div  class="form-group d-flex dispositivos" id="dispositivos">
            
            <label  class="control-label p-2">Mac</label>
            <input id= "mac" name="mac1" class="form-control mac" placeholder="Mac" onblur="validar_mac()" required maxlength="17" minlength="17" oninput="criaMascara()"/>
            <span for="mac" class="text-danger"></span>
            <input type="hidden" ></input>

            <label for="tipo" class="control-label p-2">Tipo</label>
            <select name="tipo1" class="form-control" required>
            {% for device in devices%}
            {% if device.codigo == 1 or  device.codigo == 2  %}
            <option value="{{device.codigo}}">{{device.nome}}</option>
            {% endif %}
            {% endfor %}
            </select>
            <span asp-validation-for="tipo" class="text-danger"></span>

        </div>
    </div>
    <span class="text-danger" id="retorno"></span>
        </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="closeModal('/visitante/')" data-dismiss="modal" style="border-radius: 10px;">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                     </svg> Cancelar
                     </button>
                     <button type="submit" class="btn btn-success salvar" style="border-radius: 10px;">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                           <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                         </svg> Salvar
                       </button>

                    </div>

    </form>
    
    <script src="{% static 'js/site.js' %}"></script>
    <script src="{% static 'js/requisicoes.js' %}"></script>